#navBar-background {
  background-color: chocolate;
  color: chocolate;
}
#conference {
  background-image: url("../images/conference.jpg");
  background-color: #cccccc; 
  height: 600px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.height-slideshow{
  /* height: 500px; */
  width: 100%;
  height: auto;
  image-rendering: -moz-crisp-edges; /* Firefox */
image-rendering: -o-crisp-edges; /* Opera */
image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.footer-link{
  color: white;
}
.footer-link:hover{
  color: white;
}
.back-footer{
  background-color: chocolate;
}
.img-card-clear{
  image-rendering: auto;
}


